/**index.wxss**/

@import "../../components/SlideLineNav/index.scss";
$bf-slide-line-nav-item__normal: '.bf-slide-line-nav-item__normal';
$bf-slide-line-nav-item__selected: '.bf-slide-line-nav-item__selected';
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}

#{$bf-slide-line-nav-item__selected} {
  border-bottom: 1rpx solid #c7c7c7;
}

#{$bf-slide-line-nav-item__normal} {
  border-bottom: 1rpx solid green;
}
