$container: '.container';

#{$container} {
  position: relative;
  display: flex;
  flex-direction: column;
  &-item {
    position: relative;
    height: 80rpx;
    width: 100vw;
    text-align: center;
    line-height: 80rpx;
  }
}




