.bf-toast {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  display: block;
}

.bf-toast-container {
  transform: translateX(-50%);
  margin-left: 0!important;
  position: fixed;
  z-index: 5000;
  width: 7.6em;
  min-height: 7.6em;
  top: 180px;
  left: 50%;
  margin-left: -3.8em;
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;

  &-icon {
    margin: 22px 0 0;
    display: block;
  }

  &-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; top: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-icon-text {
    margin: 0 0 15px;
  }
}
