$bf-slide-line-nav : '.bf-slide-line-nav';

#{$bf-slide-line-nav} {
  position: relative;
  display: flex;
  height: 80rpx;

  &-item {
    flex: 1;
    box-sizing: border-box;
    text-align: left;
  }
}